# replace() Parameters

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:\\Sample data\\pokemon.csv')
df

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,NaN,poison,45,49,49,45.0,65,65
1,Yes,2,NaN,1,1.0,13.0,142,NaN,NaN,60,62,63,60.0,80,80
2,Yes,3,NaN,1,2.0,100.0,236,grass,NaN,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143.0,102,80

In [3]:
#string replacement
df.replace('poison', 'Botulinum toxin') #poison string is replaced with Botulinum toxin(most toxic substance in world) string

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,NaN,Botulinum toxin,45,49,49,45.0,65,65
1,Yes,2,NaN,1,1.0,13.0,142,NaN,NaN,60,62,63,60.0,80,80
2,Yes,3,NaN,1,2.0,100.0,236,grass,NaN,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,Botulinum toxin,NaN,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,Botulinum toxin,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143.0,102,80

In [4]:
#integer replacement
df.replace(80, 123456789) # 80 is replaced with 123456789

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,NaN,poison,45,49,49,45.0,65,65
1,Yes,2,NaN,1,1.0,13.0,142,NaN,NaN,60,62,63,60.0,123456789,123456789
2,Yes,3,NaN,1,2.0,100.0,236,grass,NaN,123456789,82,83,123456789.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,123456789.0,123456789,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143.0,102,123456789

In [5]:
#replacing more than one value
df.replace([1,3,5,803,805,807,80], "HASH") #list values will be repalced by HASH

#Try it yourself: replace list of values with list

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,HASH,bulbasaur,HASH,0.7,6.9,64,NaN,poison,45,49,49,45,65,65
1,Yes,2,NaN,HASH,HASH,13,142,NaN,NaN,60,62,63,60,HASH,HASH
2,Yes,HASH,NaN,HASH,2,100,236,grass,NaN,HASH,82,83,HASH,100,100
3,Yes,4,charmander,HASH,0.6,8.5,62,fire,NaN,39,52,43,65,60,50
4,Yes,HASH,charmeleon,HASH,1.1,19,142,fire,NaN,58,64,58,HASH,HASH,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,HASH,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73,73,67
803,Yes,804,naganadel,7,3.6,150,243,poison,dragon,73,73,73,121,127,73
804,Yes,HASH,stakataka,7,5.5,820,257,rock,steel,61,131,211,13,53,101
805,Yes,806,blacephalon,7,1.8,13,257,fire,ghost,53,127,53,107,151,79
806,Yes,HASH,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143,102,HASH

In [6]:
#replacing specific column values
#we'll need to use industry
df.replace({"type_1": "fire", 'speed':80}, 'FIRE') #in list type_1 and speed, fire and 80 are replaced with Fire

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,NaN,poison,45,49,49,45,65,65
1,Yes,2,NaN,1,1.0,13.0,142,NaN,NaN,60,62,63,60,80,80
2,Yes,3,NaN,1,2.0,100.0,236,grass,NaN,80,82,83,FIRE,100,100
3,Yes,4,charmander,1,0.6,8.5,62,FIRE,NaN,39,52,43,65,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,FIRE,NaN,58,64,58,FIRE,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,FIRE,ghost,53,127,53,107,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143,102,80

# regex()

In [7]:
#regex stands for regular expresion
df.replace('[a-z]', 0, regex = True) #all letters from a to z are replaced with zero

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,0,1,0.0,1,0.7,6.9,64,NaN,0.0,45,49,49,45.0,65,65
1,0,2,NaN,1,1.0,13.0,142,NaN,NaN,60,62,63,60.0,80,80
2,0,3,NaN,1,2.0,100.0,236,0.0,NaN,80,82,83,80.0,100,100
3,0,4,0.0,1,0.6,8.5,62,0.0,NaN,39,52,43,65.0,60,50
4,0,5,0.0,1,1.1,19.0,142,0.0,NaN,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,0,803,0.0,7,0.6,1.8,189,0.0,NaN,67,73,67,73.0,73,67
803,0,804,0.0,7,3.6,150.0,243,0.0,0.0,73,73,73,121.0,127,73
804,0,805,0.0,7,5.5,820.0,257,0.0,0.0,61,131,211,13.0,53,101
805,0,806,0.0,7,1.8,13.0,257,0.0,0.0,53,127,53,107.0,151,79
806,0,807,0.0,7,1.5,44.5,270,0.0,NaN,88,112,75,143.0,102,80

In [8]:
#replacing strings in specific column
#we'll use dictionary for this
df.replace({'species':'[a-z]'}, '0', regex = True) #all letters from a to z in the column species are replaced with zero

#note: in above example 0 was given as integer but here it given as string

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,000000000,1,0.7,6.9,64,NaN,poison,45,49,49,45.0,65,65
1,Yes,2,NaN,1,1.0,13.0,142,NaN,NaN,60,62,63,60.0,80,80
2,Yes,3,NaN,1,2.0,100.0,236,grass,NaN,80,82,83,80.0,100,100
3,Yes,4,0000000000,1,0.6,8.5,62,fire,NaN,39,52,43,65.0,60,50
4,Yes,5,0000000000,1,1.1,19.0,142,fire,NaN,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,0000000,7,0.6,1.8,189,poison,NaN,67,73,67,73.0,73,67
803,Yes,804,000000000,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,000000000,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,00000000000,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,0000000,7,1.5,44.5,270,electric,NaN,88,112,75,143.0,102,80

# method()

In [9]:
df.replace('fire', method = 'ffill') #replaced fire with the previous value       ffill stands for forward fill
#instead of ffill we can also use 'pad'(which is default method value in repalce)

#Try it yourself: bfill method

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,NaN,poison,45,49,49,45.0,65,65
1,Yes,2,NaN,1,1.0,13.0,142,NaN,NaN,60,62,63,60.0,80,80
2,Yes,3,NaN,1,2.0,100.0,236,grass,NaN,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,grass,NaN,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,grass,NaN,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,rock,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143.0,102,80

# limit()

In [10]:
#limited values are replaced
df.replace('fire', method = 'ffill', limit = 1) #1 fire value is replaced with previous value

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,NaN,poison,45,49,49,45.0,65,65
1,Yes,2,NaN,1,1.0,13.0,142,NaN,NaN,60,62,63,60.0,80,80
2,Yes,3,NaN,1,2.0,100.0,236,grass,NaN,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,grass,NaN,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,rock,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143.0,102,80

# inplace()

In [11]:
#it does not create a new data frame but modify the orginal data frame
#values to this are given in boolean
df.replace(80, 12345, inplace = True) #all NaN values are given modified with 3
df

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,NaN,poison,45,49,49,45.0,65,65
1,Yes,2,NaN,1,1.0,13.0,142,NaN,NaN,60,62,63,60.0,12345,12345
2,Yes,3,NaN,1,2.0,100.0,236,grass,NaN,12345,82,83,12345.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,12345.0,12345,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143.0,102,12345