# Handeling Missing Values

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('D:\\Sample data\\pokemon.csv')
df1

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45.0,65,65
1,Yes,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,60.0,80,80
2,Yes,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143.0,102,80

# isnull()

In [3]:
#False means there is no missing values, True means there are missing values
df1.isnull()

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
803,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
804,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
805,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
806,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False

In [4]:
#finding total null values in each column
df1.isnull().sum()
#type_2 has 402, height has 11 and speed has 10 null values while other have zero

Pokemon              0
id                   0
species              0
generation_id        0
height              11
weight               0
base_experience      0
type_1               0
type_2             402
hp                   0
attack               0
defense              0
speed               10
special-attack       0
special-defense      0
dtype: int64

In [5]:
#finding total number of null values in csv
df1.isnull().sum().sum()

423

# notnull()

In [6]:
#it is the reverse of isnull

#True means there is no missing values, False means there are missing values
df1.notnull()

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
803,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
804,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
805,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
806,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True

In [7]:
#finding total not null values in each column
df1.notnull().sum()

Pokemon            807
id                 807
species            807
generation_id      807
height             796
weight             807
base_experience    807
type_1             807
type_2             405
hp                 807
attack             807
defense            807
speed              797
special-attack     807
special-defense    807
dtype: int64

In [8]:
#finding total not null values in csv
df1.notnull().sum().sum()

11682

In [9]:
#for series also we have the same functions mentioned above, apply the above function on sample series given below, and try youtself:
import numpy as np
sr = pd.Series([1,2,3,np.nan,6,7,np.NAN,9])
sr

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    7.0
6    NaN
7    9.0
dtype: float64

# dropna()

In [10]:
#drop all the rows(deafult) with NaN values
df1.dropna()

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45.0,65,65
1,Yes,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,60.0,80,80
2,Yes,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,80.0,100,100
5,Yes,6,charizard,1,1.7,90.5,240,fire,flying,78,84,78,100.0,109,85
11,Yes,12,butterfree,1,1.1,32.0,178,bug,flying,60,45,50,70.0,90,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,Yes,801,magearna,7,1.0,80.5,270,steel,fairy,80,95,115,65.0,130,115
801,Yes,802,marshadow,7,0.7,22.2,270,fighting,ghost,90,125,80,125.0,90,90
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79

In [11]:
#drop all the column with NaN values
df1.dropna(axis = 1)

,Pokemon,id,species,generation_id,weight,base_experience,type_1,hp,attack,defense,special-attack,special-defense
0,Yes,1,bulbasaur,1,6.9,64,grass,45,49,49,65,65
1,Yes,2,ivysaur,1,13.0,142,grass,60,62,63,80,80
2,Yes,3,venusaur,1,100.0,236,grass,80,82,83,100,100
3,Yes,4,charmander,1,8.5,62,fire,39,52,43,60,50
4,Yes,5,charmeleon,1,19.0,142,fire,58,64,58,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,1.8,189,poison,67,73,67,73,67
803,Yes,804,naganadel,7,150.0,243,poison,73,73,73,127,73
804,Yes,805,stakataka,7,820.0,257,rock,61,131,211,53,101
805,Yes,806,blacephalon,7,13.0,257,fire,53,127,53,151,79
806,Yes,807,zeraora,7,44.5,270,electric,88,112,75,102,80

In [12]:
#try yourself

# df1.dropna(how = 'any')             #same as df1.dropna()
# df1.dropna(axis = 1, how = 'any')   #same as df1.dropna(axis = 1)
# df1.dropna(how = 'all')             #drop only if all row or column values are null

In [13]:
df1.dropna(thresh = 12) #will print row(default as axis not defined) which have atleast 12 non null values in row

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45.0,65,65
1,Yes,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,60.0,80,80
2,Yes,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143.0,102,80

In [14]:
df1.dropna(thresh = 15) #will print row(default as axis not defined) which have atleast 15 non null values in row

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45.0,65,65
1,Yes,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,60.0,80,80
2,Yes,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,80.0,100,100
5,Yes,6,charizard,1,1.7,90.5,240,fire,flying,78,84,78,100.0,109,85
11,Yes,12,butterfree,1,1.1,32.0,178,bug,flying,60,45,50,70.0,90,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,Yes,801,magearna,7,1.0,80.5,270,steel,fairy,80,95,115,65.0,130,115
801,Yes,802,marshadow,7,0.7,22.2,270,fighting,ghost,90,125,80,125.0,90,90
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79

In [15]:
df1.dropna(subset = ['type_2']) #drop rows(default) with null values in cloumn mentioned

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45.0,65,65
1,Yes,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,60.0,80,80
2,Yes,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,80.0,100,100
5,Yes,6,charizard,1,1.7,90.5,240,fire,flying,78,84,78,100.0,109,85
11,Yes,12,butterfree,1,1.1,32.0,178,bug,flying,60,45,50,70.0,90,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,Yes,801,magearna,7,1.0,80.5,270,steel,fairy,80,95,115,65.0,130,115
801,Yes,802,marshadow,7,0.7,22.2,270,fighting,ghost,90,125,80,125.0,90,90
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79

In [18]:
df1.dropna(inplace = True)
df1
#dropped NaN rows an given the output it has not created any new data frame

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45.0,65,65
1,Yes,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,60.0,80,80
2,Yes,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,80.0,100,100
5,Yes,6,charizard,1,1.7,90.5,240,fire,flying,78,84,78,100.0,109,85
11,Yes,12,butterfree,1,1.1,32.0,178,bug,flying,60,45,50,70.0,90,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,Yes,801,magearna,7,1.0,80.5,270,steel,fairy,80,95,115,65.0,130,115
801,Yes,802,marshadow,7,0.7,22.2,270,fighting,ghost,90,125,80,125.0,90,90
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79